
@keyframes hover-like {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 100%;
        transform: scale(1.11);
        left: 25%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(14px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes dispariton {
    0% {
        opacity: 100%;
        z-index: 1000;
    }
    99% {
        opacity: 100%;
        z-index: 1000;
    }
    100% {
        opacity: 0%;
        z-index: -1000;
    }

}