// VARIABLES 
$primaire-blue: #9356DC;
$secondaire-blue-lighter: #FF79DA;
$tertiaire-grey: #99E2D0;
$quaternaire-grey-darker: #6F6F6F;
$text-white: #F6F6F6;
$background-grey-lighter: #F6F6F6;

$dimension-check-plat: 60px;

// POLICES
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// MIXINS
@mixin display-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin display-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}