.submit-button {
    padding: 16px;
    margin-bottom: 28px;
    background: linear-gradient($secondaire-blue-lighter, $primaire-blue);
    border-radius: 50px;
    box-shadow: 3px 3px 18px $tertiaire;
    font-size: 16px;
    font-weight: 400;
    color: $white-grey;
    &:hover {
        cursor: pointer;
        background: linear-gradient(lighten($secondaire-blue-lighter, 3%), lighten($primaire-blue, 3%));
        box-shadow: 3px 3px 18px darken($tertiaire, 20%);
    }

}

.nouveau {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px 8px;
    border-radius: 2px;
    background-color: $tertiaire;
    p {
        font-size: 14px;
        font-weight: 700;
        color: $darker-grey;
    }
}

.like {
    position: relative;
    width: 48px;
    @include display-flex-center-center;
    &:hover {
        cursor: pointer;
    }
    i {
        font-size: 24px;
    }
    .hover-heart {
        position: absolute;
        color: $primaire-blue;
        opacity: 0;
        display: block;
        background: 
        -webkit-linear-gradient($primaire-blue, $secondaire-blue-lighter);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
            animation: hover-like 0.5s ease-in-out forwards;
        }
    }
}

.soulignement {
    height: 3px;
    width: 40px;
    margin-top: 5px;
    background-color: $tertiaire;
}