.submit-button {
    padding: 16px;
    margin-bottom: 28px;
    background: linear-gradient($secondaire-blue-lighter, $primaire-blue);
    border-radius: 50px;
    box-shadow: 3px 3px 18px $tertiaire;
    font-size: 16px;
    font-weight: 400;
    color: $white-grey;
    &:hover {
        cursor: pointer;
        background: linear-gradient(lighten($secondaire-blue-lighter, 3%), lighten($primaire-blue, 3%));
        box-shadow: 3px 3px 18px darken($tertiaire, 20%);
    }

}

.nouveau {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px 8px;
    border-radius: 2px;
    background-color: $tertiaire;
    p {
        font-size: 14px;
        font-weight: 700;
        color: $darker-grey;
    }
}

.like {
    position: relative;
    width: 48px;
    @include display-flex-center-center;
    &:hover {
        cursor: pointer;
    }
    i {
        font-size: 24px;
    }
    .hover-heart {
        position: absolute;
        color: $primaire-blue;
        opacity: 0;
        display: block;
        background: 
        -webkit-linear-gradient($primaire-blue, $secondaire-blue-lighter);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
            animation: hover-like 0.5s ease-in-out forwards;
        }
    }
}

.soulignement {
    height: 3px;
    width: 40px;
    margin-top: 5px;
    background-color: $tertiaire;
}

.chargement {
    position: fixed;
    z-index: 1000;

    min-height: 100vh;
    width: 100%;

    @include display-flex-center-center;

    background-color: $background-white-grey;
    animation: dispariton 2s forwards;
}
.chargement_animation {
    position: relative;
    height: 275px;
    width: 275px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 275px;
    background-color: white;
    p {
        font-size: 38px;
        font-family: 'Shrikhand', serif;
    }
}
.chargement_animation::after, .chargement_animation::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    height: 275px;
    width: 275px;
    box-shadow: 3px 3px 12px $shadow-grey;
    border-top: solid 5px $secondaire-blue-lighter;
    border-bottom: solid 5px $secondaire-blue-lighter;
    border-left: solid 5px $primaire-blue;
    border-right: solid 5px $primaire-blue;
    border-radius: 275px;
    animation: rotation 2s linear;
}