/* Propriété général et écrasement des propriétés par default.
./sass/base/base_styles.scss */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

    color: black;
    font-size: 16px;
    font-family: "roboto", Arial, sans-serif;
    font-weight: 400;
    background: none;
    border: none;
}

body {
    min-height: 100vh;
    width: 100%;
}

main {
    width: 100%;
}

/* Media Queries pour TABLETTE et DESKTOP */
@media all and (min-width: 720px) {
    body {
        @include display-flex-column-align-center;
    }
    main {
        @include display-flex-column-align-center;
    }
}