
header {
    position: relative;
    height: 62px;
    width: 100%;
    @include display-flex-center-center;
    a {
        position: absolute;
        left: 24px;
        font-size: 21px;
        i {
            font-size: 22px;
        }
    }
    img {
        width: 164px;
    }
}
