@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes hover-like {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1.11);
    left: 25%;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 16px;
  font-family: "roboto";
  font-weight: 400;
  background: none;
  border: none;
}

body {
  min-height: 100vh;
  width: 100%;
}

header {
  position: relative;
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  position: absolute;
  left: 24px;
  font-size: 21px;
}
header a i {
  font-size: 24px;
}
header img {
  width: 164px;
}

footer {
  height: 200px;
  width: 100%;
  padding: 16px 28px;
  background-color: #353535;
}
footer * {
  color: #F6F6F6;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 17px;
  margin-bottom: 16px;
}
footer li {
  line-height: 24px;
}
footer i {
  width: 20px;
  font-size: 12px;
}

form {
  background-color: #F6F6F6;
  text-align: center;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  height: 50px;
  width: 100%;
  margin-bottom: 35px;
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 3px #99E2D0;
  text-align: center;
  font-weight: 700;
  font-family: Arial, "Font Awesome 5 Free";
}
form h1 {
  width: 70%;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 14px;
}
form p {
  width: 90%;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 18px;
  color: #6F6F6F;
}

#fonctionnement {
  width: 100%;
  padding: 48px 24px;
}
#fonctionnement h2 {
  margin-bottom: 21px;
  font-size: 21px;
  font-weight: 700;
}

.steps {
  position: relative;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 3px 3px 18px #99E2D0;
  background-color: #F6F6F6;
  margin-bottom: 24px;
}
.steps:hover {
  background-color: #F5EEFC;
}
.steps:hover i {
  color: #9356DC;
}
.steps .steps_number {
  position: absolute;
  left: -10px;
  padding: 2px 7px;
  border-radius: 21px;
  background-color: #9356DC;
  color: #F6F6F6;
}
.steps i {
  position: absolute;
  left: 28px;
  font-size: 16px;
  color: #6F6F6F;
}
.steps .steps_definition {
  font-weight: 700;
}

#restaurants {
  width: 100%;
  padding: 48px 24px;
  background-color: #F6F6F6;
}
#restaurants h2 {
  margin-bottom: 21px;
  font-size: 21px;
  font-weight: 700;
}

.restaurants_card {
  height: 250px;
  width: 100%;
  display: block;
  border-radius: 16px;
  background-color: white;
  box-shadow: 3px 3px 18px #99E2D0;
  margin-bottom: 21px;
  overflow: hidden;
}
.restaurants_card_img {
  position: relative;
  height: 175px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.restaurants_card_img img {
  width: 105%;
}
.restaurants_card_description {
  height: 75px;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.restaurants_card_description_name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants_card_description_name h3 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
}

.restaurants_card:nth-of-type(2) .restaurants_card_img {
  align-items: center;
}

#menu {
  background-color: #F6F6F6;
}

#restaurant-header {
  position: relative;
  max-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#restaurant-header img {
  width: 110%;
  align-self: center;
}

#restaurant-header, .la-note-enchantee-image {
  justify-content: center;
}
#restaurant-header img, .la-note-enchantee-image img {
  width: 100%;
}

#nom-du-restaurant {
  position: absolute;
  bottom: 0px;
  min-height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 18px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background-color: #F6F6F6;
}
#nom-du-restaurant h1 {
  font-size: 26px;
  font-family: "Shrikhand", Georgia, serif;
}
#nom-du-restaurant .like {
  bottom: 10px;
  margin-right: 28px;
}

#services {
  width: 100%;
  padding: 0 12px;
  background-color: #F6F6F6;
}

.service {
  width: 100%;
  margin: 32px 0;
}
.service_plats {
  width: 100%;
}

.carte-de-plat {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 7px 0 7px 7px;
  margin: 12px 0;
  border-radius: 16px;
  box-shadow: 3px 3px 6px #99E2D0;
  background-color: white;
  overflow: hidden;
}
.carte-de-plat:hover .content {
  min-width: calc(100% - 60px - 60px);
}
.carte-de-plat:hover i {
  animation: rotation 0.3s linear;
  animation-iteration-count: 1;
}

.content {
  min-width: calc(100% - 60px);
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content p, .content h2 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content h2 {
  font-weight: 700;
}

.right {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right .prix {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.right .prix p {
  text-align: right;
  padding-right: 14px;
  font-weight: 700;
}
.right .check {
  height: 70px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
}
.right .check i {
  font-size: 24px;
  color: #F6F6F6;
}

#commander {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}
#commander .submit-button {
  padding: 16px 48px;
}

.submit-button {
  padding: 16px;
  margin-bottom: 28px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  box-shadow: 3px 3px 18px #99E2D0;
  font-size: 16px;
  font-weight: 400;
  color: #F6F6F6;
}
.submit-button:hover {
  cursor: pointer;
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 3px 3px 18px #4acbab;
}

.nouveau {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 6px 8px;
  border-radius: 2px;
  background-color: #99E2D0;
}
.nouveau p {
  font-size: 14px;
  font-weight: 700;
  color: #6F6F6F;
}

.like {
  position: relative;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like i {
  font-size: 24px;
}
.like .hover-heart {
  position: absolute;
  color: #9356DC;
  opacity: 0;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.like .hover-heart:hover {
  animation: hover-like 0.5s ease-in-out forwards;
}

.soulignement {
  height: 3px;
  width: 40px;
  margin-top: 5px;
  background-color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
