@charset "UTF-8";
/* Varible de couleur et dimension */
/* Les Fonts Google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Mes Mixins */
/* --- Display flex Mixins --- */
/* --- Autres mixins --- */
/* Les Animations
./sass/utils/animation.scss */
/* animation pour le bouton like */
@keyframes hover-like {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1.11);
    left: 25%;
  }
}
/* animation de rotation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* animation d'apparition pour les carte de plat */
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
/* animation de disparition pour mon animation de chargement */
@keyframes dispariton {
  0% {
    opacity: 100%;
    z-index: 1000;
  }
  99% {
    opacity: 100%;
    z-index: 1000;
  }
  100% {
    opacity: 0%;
    z-index: -1000;
  }
}
/* Propriété général et écrasement des propriétés par default.
./sass/base/base_styles.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 16px;
  font-family: "roboto", Arial, sans-serif;
  font-weight: 400;
  background: none;
  border: none;
}

body {
  min-height: 100vh;
  width: 100%;
}

main {
  width: 100%;
}

/* Media Queries pour TABLETTE et DESKTOP */
@media all and (min-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Partie header
./sass/layouts/header_styles.scss */
header {
  position: relative;
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  position: absolute;
  left: 24px;
  font-size: 21px;
}
header a i {
  font-size: 22px;
}
header img {
  width: 164px;
}

/* Partie footer
./sass/layouts/footer_styles.scss */
footer {
  height: 200px;
  width: 100%;
  padding: 24px 28px;
  background-color: #353535;
}
footer * {
  color: #F6F6F6;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-bottom: 16px;
}
footer li {
  line-height: 26px;
}
footer i {
  width: 22px;
  font-size: 12px;
}

/* Partie accueil
./sass/pages/accueil.scss */
/* Formulaire de recherche */
form {
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  height: 50px;
  width: 100%;
  margin-bottom: 35px;
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 3px #99E2D0;
  text-align: center;
  font-weight: 700;
  font-family: Arial, "Font Awesome 5 Free";
}
form h1 {
  width: 70%;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 14px;
}
form p {
  width: 90%;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 18px;
  color: #6F6F6F;
}

/* Section Fonctionnement */
#fonctionnement {
  width: 100%;
  padding: 48px 24px;
}
#fonctionnement h2 {
  margin-bottom: 21px;
  font-size: 21px;
  font-weight: 700;
}

.steps {
  position: relative;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 3px 3px 12px #DFDFDF;
  background-color: #F6F6F6;
  margin-bottom: 24px;
}
.steps:hover {
  background-color: #F5EEFC;
}
.steps:hover i {
  color: #9356DC;
}
.steps .steps_number {
  position: absolute;
  left: -10px;
  padding: 2px 7px;
  border-radius: 21px;
  background-color: #9356DC;
  color: #F6F6F6;
}
.steps i {
  position: absolute;
  left: 28px;
  font-size: 16px;
  color: #6F6F6F;
}
.steps .steps_definition {
  font-weight: 700;
}

/* Section Restaurants */
#restaurants {
  width: 100%;
  padding: 48px 24px;
  background-color: #F6F6F6;
}
#restaurants h2 {
  margin-bottom: 21px;
  font-size: 21px;
  font-weight: 700;
}

.restaurants_card {
  height: 250px;
  width: 100%;
  display: block;
  border-radius: 16px;
  box-shadow: 3px 3px 12px #DFDFDF;
  background-color: white;
  margin-bottom: 21px;
  overflow: hidden;
}

.restaurants_card_img {
  position: relative;
  height: 175px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.restaurants_card_img img {
  width: 105%;
}

.restaurants_card:nth-of-type(2) .restaurants_card_img {
  align-items: center;
}

.restaurants_card_description {
  height: 75px;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.restaurants_card_description_name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants_card_description_name h3 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
}

/* Media Queries pour TABLETTE et DESKTOP */
/* tablette */
@media all and (min-width: 720px) {
  #fonctionnement {
    width: 720px;
  }

  #restaurants {
    width: 720px;
    background-color: transparent;
  }

  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .restaurants_card {
    width: 325px;
  }
}
/* desktop */
@media all and (min-width: 1200px) {
  #fonctionnement {
    width: 100%;
  }

  #fonctionnement > div {
    display: flex;
    justify-content: space-between;
  }

  .steps {
    width: 325px;
  }

  #restaurants {
    width: 100%;
  }

  .restaurant {
    justify-content: space-evenly;
  }

  .restaurants_card {
    margin-right: 18px;
  }
}
/* Partie restaurant
./sass/pages/restaurants.scss */
#menu {
  background-color: #F6F6F6;
}

/* Section header
./sass/pages/restaurants.scss */
#restaurant-header {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#restaurant-header img {
  width: 110%;
  align-self: center;
}

.la-note-enchantee {
  justify-content: center;
}
.la-note-enchantee_image {
  width: 100% !important;
}

#nom-du-restaurant {
  position: absolute;
  bottom: 0px;
  min-height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 18px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background-color: #F6F6F6;
}
#nom-du-restaurant h1 {
  font-size: 26px;
  font-family: "Shrikhand", Georgia, serif;
}
#nom-du-restaurant .like {
  bottom: 10px;
  margin-right: 28px;
}

/* Section services
./sass/pages/restaurants.scss */
#services {
  width: 100%;
  padding: 0 18px;
  padding-top: 32px;
}

.service {
  width: 100%;
  margin-bottom: 32px;
}
.service_plats {
  width: 100%;
}

/* Carte des plats
./sass/pages/restaurants.scss */
.carte-de-plat {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 7px 0 7px 7px;
  margin: 12px 0;
  border-radius: 16px;
  box-shadow: 3px 3px 12px #DFDFDF;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation: 1s 3s apparition forwards;
}
.carte-de-plat:hover .content {
  min-width: calc(100% - 60px - 60px);
}
.carte-de-plat:hover i {
  animation: rotation 0.3s linear;
  animation-iteration-count: 1;
}
.carte-de-plat:nth-of-type(1n) {
  animation-delay: 0.3s;
}
.carte-de-plat:nth-of-type(2n) {
  animation-delay: 0.6s;
}
.carte-de-plat:nth-of-type(3n) {
  animation-delay: 0.9s;
}
.carte-de-plat:nth-of-type(4n) {
  animation-delay: 1.2s;
}
.carte-de-plat:nth-of-type(5n) {
  animation-delay: 1.5s;
}

.content {
  min-width: calc(100% - 60px);
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content p, .content h2 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content h2 {
  font-weight: 700;
}

.right {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.prix {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.prix p {
  text-align: right;
  padding-right: 14px;
  font-weight: 700;
}

.check {
  height: 70px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
}
.check i {
  font-size: 24px;
  color: #F6F6F6;
}

#commander {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#commander .submit-button {
  padding: 16px 48px;
}

/* Media Queries pour TABLETTE et DESKTOP
./sass/pages/restaurants.scss */
@media all and (min-width: 720px) {
  #restaurant-header img {
    width: 110%;
    height: 100%;
    object-fit: cover;
  }

  #nom-du-restaurant {
    width: 720px;
  }

  #services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service {
    width: 375px;
    margin-right: 18px;
  }
}
/* bouton de submition
./sass/components/components.scss */
.submit-button {
  padding: 16px;
  margin-bottom: 28px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  box-shadow: 3px 3px 18px #99E2D0;
  font-size: 16px;
  font-weight: 400;
  color: #F6F6F6;
}
.submit-button:hover {
  cursor: pointer;
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 3px 3px 18px #4acbab;
}

/* Etiquette "Nouveau"
./sass/components/components.scss */
.nouveau {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 6px 8px;
  border-radius: 2px;
  background-color: #99E2D0;
}
.nouveau p {
  font-size: 14px;
  font-weight: 700;
  color: #6F6F6F;
}

/* Bouton Like
./sass/components/components.scss */
.like {
  position: relative;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like:hover {
  cursor: pointer;
}
.like i {
  font-size: 24px;
}
.like .hover-heart {
  position: absolute;
  color: #9356DC;
  opacity: 0;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.like .hover-heart:hover {
  animation: hover-like 0.5s ease-in-out forwards;
}

/* Barre de soulignement des different services
./sass/components/components.scss */
.soulignement {
  height: 3px;
  width: 40px;
  margin-top: 5px;
  background-color: #99E2D0;
}

/* Animation de chargement de page
./sass/components/components.scss */
.chargement {
  position: fixed;
  z-index: 1000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  animation: dispariton 2s forwards;
}

.chargement_animation {
  position: relative;
  height: 275px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 275px;
  background-color: white;
}
.chargement_animation p {
  font-size: 38px;
  font-family: "Shrikhand", serif;
}

.chargement_animation::after, .chargement_animation::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  height: 275px;
  width: 275px;
  box-shadow: 3px 3px 12px #DFDFDF;
  border-top: solid 5px #FF79DA;
  border-bottom: solid 5px #FF79DA;
  border-left: solid 5px #9356DC;
  border-right: solid 5px #9356DC;
  border-radius: 275px;
  animation: rotation 2s linear;
}

/*# sourceMappingURL=style.css.map */
